@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.login--container {
  background-color: rgba(0,0,0, 0.8);
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/68c9706b-acd1-4472-bb1d-ef3ca933154c/e75d1650-32dd-4fc3-8e0f-93e254557b2c/BR-pt-20211011-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  height: 100vh;
  width: 100%;
}

.login--box {
  display: flex;
  justify-content: center;
}

.login--info-box {
  background-color: rgba(0,0,0, 0.8);
  border-radius: 5%;
  height: 60vh;
  width: 60vh;
}



.login--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login--form input {
  background-color: rgb(70, 70, 70);
  margin-top: 7%;
  width: 250px;
  height: 5vh;
  border-radius: 5%;
}
.login--form input::placeholder {
  color: rgb(168, 168, 168);
  padding-left: 2rem;
}

.login--text {
  margin-top: 10%;
  color: white;
  text-align: center;
}

.entrar--btn, .entrar--btn-2, .entrar--btn-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: red;
  width: 30%;
  height: 35px;
  margin-top: 10%;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.entrar--btn-2 {
  margin-top: 2%;
}

.entrar--btn:hover,
.entrar--btn-2:hover,
.entrar--btn-3:hover {
  cursor: pointer;
  background-color: rgb(160, 0, 0);
}

.entrar--btn-3 {
  margin-top: 2%;
}

.back { 
  margin-top: 10%;
}

.checked-ok {
  position: fixed;
  padding-left: 1%;
  margin-top: 1.5%;
  font-size: 25px;
  color: green;
}

.checked-error {
  position: fixed;
  padding-left: 1%;
  margin-top: 1.5%;
  font-size: 25px;
  color: red;
}

.login--container img {
  padding-left: 2%;
}

.moviesection {
  margin-bottom: 30px;
}

.moviesection h2 {
  margin: 0px 0px 0px 30px;
}

.moviesection--listarea {
  overflow-x: hidden;
  padding-left: 30px;
}

.moviesection--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.moviesection--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.3s;
  height: 16rem;
}

.moviesection--item img:hover {
  transform: scale(1);
}

.draft {
  height: 100vh;
}

.draft--vertical-fade {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.draft--horizontal-fade {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 35%, transparent 65%);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 300px;
}

.lists {
  margin-top: -300px;
}

.draft--name {
  font-size: 60px;
  font-weight: bold;
}

.draft--info {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.draft--points,
.draft--year,
.draft--seasons {
  display: inline-block;
  margin-right: 15px;
}

.draft--points {
  color: #46d369;
}

.draft--description {
  margin-top: 15px;
  font-size: 20px;
  color: #999;
  width: 40%;
}

.draft--buttons {
  margin-top: 15px;
}

.draft--btn-assistir,
.draft--btn-list {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.4s;
}
.draft--btn-assistir {
  background-color: white;
  color: black;
}
.draft--btn-list {
  background-color: #333;
  color: white;
}

.draft--btn-assistir:hover,
.draft--btn-list:hover {
  opacity: 0.7;
}

.draft--genres {
  margin-top:  15px;
  font-size: 18px;
  color: #999;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background: transparent;
  transition: all ease 0.6s;
}

.header--logo {
  height: 80px;
}

.header--logo img {
  height: 100%;
  font-size: 80px;
}

.header--user {
  height: 50px;
}
.header--user img {
  height: 100%;
  border-radius: 7%;
}

.header--active-scroll {
  background-color: #141414;
}

footer {
  margin: 50px 0;
  text-align: center;
}

.moviesection-leftArrow-img,
.moviesection-rightArrow-img {
  font-size: 60px;
}

.moviesection-leftArrow,
.moviesection-rightArrow {
  position: absolute;
  margin-top: 13px;
  width: 40px;
  height: 230px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.6s;
}

.moviesection-leftArrow {
  left: 0;
}
.moviesection-rightArrow {
  right: 0;
}

.moviesection:hover .moviesection-leftArrow,
.moviesection:hover .moviesection-rightArrow {
  opacity: 1;
  background-color: rgba(14,14,14, 0.5);
}

.moviesection--list {
  transition: all ease 0.7s;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 111;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 50%;
}

.renderHomer {
  animation-name: fadein;
  animation-duration: 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 760px) {
  .moviesection-leftArrow,
  .moviesection-rightArrow {
    opacity: 1;
    background-color: rgba(14,14,14, 0.5);
  }

  .draft {
    height: 90vh;
  }

  .lists {
    margin-top: -40px;
  }

  .draft--horizontal-fade {
    padding-top: 300px;
  }

  .draft--name { 
    font-size: 40px;
  }

  .draft--info {
    font-size: 16px;
  }

  .draft--description {
    font-size: 14px;
    width: 80%;
    margin-right: 30px;
  }

  .draft--btn-assistir,
  .draft--btn-list {
    font-size: 16px;
  }

  .draft--genres {
    font-size: 14px;
  }

  .login--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .login--container img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
  }

  .login--info-box {
    height: 63vh;
  }

}